<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:image" content="tile_media"/>

    <meta name="keyword" content="{{ .Site.Params.keyword }}">
    {{ partial "opengraph.html" . }}
    {{- partial "favicons.html" . }}

    <title>{{ .Title }}</title>

    <link rel="canonical" href="{{ .Permalink | relURL }}">

    <link rel="stylesheet" href="{{ "css/global.css" | relURL }}">

    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">

    <link rel="stylesheet" href="{{ "css/search.css" | relURL }}" />

    <!-- Icons -->


    {{ template "_internal/twitter_cards.html" . }}

    <!-- algolia related style -->
    {{ if site.Params.algolia.enabled }}
    <link rel="stylesheet" href="{{ "css/autocomplete-theme-classic.css" | relURL }}" />
    {{ end }}

    <!-- custom style files -->
    {{ range site.Params.css }}
    <link rel="stylesheet" href="{{ .url | relURL }}" />
    {{ end }}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4267049887300482"
     crossorigin="anonymous"></script>
</head>
